@import 'variables';
@import 'overrides';

/* Font Face */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700);

@font-face {
  font-family: 'glyph';
  src: url('./src/fonts/voyager_glyphs.eot'); /* IE9 Compat Modes */
  src: url('./src/fonts/voyager_glyphs.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./src/fonts/voyager_glyphs.woff2') format('woff2'), /* Super Modern Browsers */
       url('./src/fonts/voyager_glyphs.woff') format('woff'), /* Pretty Modern Browsers */
       url('./src/fonts/voyager_glyphs.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./src/fonts/voyager_glyphs.svg#svgFontName') format('svg'); /* Legacy iOS */
}

* :focus { outline: 0;}
body {margin:0px; padding:0px; background-color:$back-color;}
img {border:none;}
a {border:none; text-decoration:none;}
p {font-family:'Open Sans', Verdana, Geneva, sans-serif; color:$fore-color;}
span {font-family:'Open Sans', Verdana, Geneva, sans-serif; text-decoration:none;}
div {border:none; font-family:'Open Sans', Verdana, Geneva, sans-serif; color:$fore-color; padding:0px; margin:0px; background-position:top left; background-repeat:no-repeat; -webkit-font-smoothing:antialiased;}
button {-webkit-font-smoothing:antialiased;}

input, textarea, select {
	-webkit-appearance: none;
	border-radius: 4px;
  font-family:'Open Sans', Verdana, Geneva, sans-serif;
  color:$fore-color;
}

.no_pad {
	padding:0;
}

.no_marg {
	margin:0 !important;
}

.row {
	margin: 0 12px;
}

/* Loading */

.loading_shell {
  width:200px;
  height:200px;
  margin:200px auto 0 auto;
}

.loading_spinner {
  width:200px;
  height:auto;
  margin:30px auto 0 auto;
}

/* Head */

.head_shell {
	width:100%;
	height:auto;
	border-bottom:0px solid $borders-lines;
  background-color:$topbar;
  padding:15px 0;
	margin:0 0 40px 0;
}

.head_logo {
	float:left;
	font-family:'glyph';
	color:$logo;
	font-size:54px;
	line-height:54px;
  transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  -webkit-transition: all .15s ease-in-out;
}

.head_logo:hover {
  filter: alpha(opacity=70);
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
  opacity: 0.7;

}

.head_stat {
	float:right;
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
	color:$fore-color;
	font-size:14px;
	line-height:14px;
	margin:0 0 0 40px;
	padding:20px 0 0 0;
}

.head_search {
	float:right;
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
	color:$fore-color;
	font-size:14px;
	line-height:14px;
	margin:0 0 0 40px;
	padding:20px 0 0 0;
  transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  -webkit-transition: all .15s ease-in-out;
}

.head_search a {
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
	color:$fore-color;
}

.head_search:hover {
  filter: alpha(opacity=70);
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
  opacity: 0.7;

}

.head_search_shell {
    margin:25px 0 20px 0;

}

.head_search_form {
  float:left;
	height:58px;
  padding:0px 0px 0px 0px;
	font-family:'Open Sans', sans-serif; color:$fore-color; font-size:18px; line-height:48px;
	margin:0;
	text-align:left;
  border-top:1px solid $borders-lines;
  border-right:1px solid $borders-lines;
  border-bottom:1px solid $borders-lines;
  border-left:0px solid $borders-lines;
  width:93%;
  border-radius:0 6px 6px 0;
}

.head_search_btn {
  float:left;
  font-family:'glyph', sans-serif; color:$fore-color; font-size:28px; line-height:58px;
  background-color:$back-color !important;
  border-top:1px solid $borders-lines;
  border-right:0px solid $borders-lines;
  border-bottom:1px solid $borders-lines;
  border-left:1px solid $borders-lines;
  border-radius: 6px 0 0 6px;
  width: 6%;
  height: 60px;
  margin:0px 0 0 0;

}

.head_search_row {
	overflow-y: hidden;
	max-height: 200px; /* approximate max height */

	transition-property: all;
	transition-duration: 0.5s;
	transition-timing-function: cubic-bezier(0,-0.02,1,.99);
}

.head_search_row.closed {
	max-height: 0px;
	transition-property: all;
	transition-duration: 0.5s;
	transition-timing-function: cubic-bezier(0,-0.02,1,.99);
}

.head_stat.hide {
	display:none;
}

.head_icon {
	float:left;
	font-family:'glyph';
	color:$icons;
	font-size:22px;
	line-height:12px;
	margin:0px 15px 0 0;
}


/* Body */

.body_head {
	display:table;
	text-align:center;
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	color:$fore-color;
	font-size:32px;
	line-height:32px;
	margin:0 auto 0px auto;
	padding:10px 0 30px 0;
}

.body_head_icon {
	float:none;
	text-align:center;
	font-family:'glyph';
	color:$icons;
	font-size:46px;
	line-height:38px;
	margin:0 18px 10px 0;

}

.body_head span {
	font-weight:400;
}


/* Index styles */

.index_block_shell {
	float:none;
  background-color:$back-color;
	border:1px solid $borders-lines;
	border-radius:6px;
	padding:42px 30px 35px 30px;
	margin:0 30px 15px 0px;
	width:auto;
	min-height:100px;
  transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  -webkit-transition: all .15s ease-in-out;
}

.index_block_shell:hover {
  filter: alpha(opacity=70);
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
  opacity: 0.7;

}

.index_block_row {
	margin-right:-15px;
	margin-left:12px;
}

.index_block_height {
	text-align:center;
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
	color:$fore-color;
	font-size:44px;
	line-height:24px;
	margin-bottom:40px;
}

.index_block_height span {
	font-family: 'Open Sans', sans-serif;
	font-style:italic;
	font-weight:400;
	text-transform:uppercase;
	color:$fore-color;
	font-size:12px;
	line-height:12px;
}

.index_block_time {
	border-bottom:1px dashed $borders-lines;
	margin:25px 0 15px 0;
	padding:0px 0 15px 0;
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
	color:$fore-color;
	font-size:13px;
	line-height:13px;
	width:100%;
}

.index_block_time_icon {
	float:right;
	font-family:'glyph';
	color:$icons;
	font-size:15px;
	line-height:14px;
}

.index_block_nonce {
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
	color:$fore-color;
	font-size:13px;
	line-height:13px;
	width:100%;
}

.index_block_nonce_tag {
	float:right;
	text-transform:uppercase;
	background-color:$fore-color;
	border-radius:2px;
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
	color:$back-color;
	font-size:9px;
	line-height:9px;
	padding:3px 7px;
	margin:-1px 0 0 0;
	text-align:center;
}

/* Element styles */

.block_shell {
  float:none;
  background-color:$back-color;
  border:1px solid $borders-lines;
  border-radius:6px;
  padding:20px 20px 25px 20px;
  margin:0 -10px 40px -10px;
  width:auto;
}

.block_shell.nomarg {
  margin-bottom:0;
}

.block_height {
	text-align:center;
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
	color:$fore-color;
	font-size:54px;
	line-height:54px;
  padding:0 0 35px 0;
	margin:0 0 15px 0;
  border-bottom:1px solid $borders-lines;
}

.block_height.mobile {
	font-size:30px;
	line-height:30px;
}

.block_height_icon {
  display:none;
  float:left;
  margin:3px 20px 0 0;
  font-family:'glyph';
  font-weight:normal;
	color:$icons;
	font-size:68px;
	line-height:58px;
}

.block_height_tag {
	float:none;
	text-transform:uppercase;
	background-color:$back-color;
	border-radius:2px;
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
	color:$fore-color;
  border:1px solid $borders-lines;
  border-radius:2px;
	font-size:13px;
	line-height:9px;
	padding:12px 20px;
	margin:20px 0 15px 0;
	text-align:center;
}

.block_line {
  text-align:center;
	border-bottom:1px dashed $borders-lines;
	margin:0px 0 0px 0;
	padding:20px 0 20px 0;
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
	color:$fore-color;
	font-size:13px;
	line-height:14px;
	width:100%;
  background-color:$back-color;
  min-height: 14px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.block_line.first {
	font-size:18px;
	line-height:18px;
  font-weight: 700;
}

.block_line.solid {
	border-bottom:1px solid $borders-lines;
}

.block_line span {
  font-family:'glyph';
  font-weight:normal;
	color:$icons;
	font-size:16px;
	line-height:14px;
  margin-right:8px;
}

.block_line a {
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
	color:$fore-color;
  transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  -webkit-transition: all .15s ease-in-out;
  filter: alpha(opacity=70);
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
  opacity: 0.7;

  }

.block_line a:hover {
    font-weight:600;
    color:$btc-orange;
    filter: alpha(opacity=100);
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}

.block_line_tag {
	float:none;
	text-transform:uppercase;
	background-color:$back-color;
	border-radius:2px;
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
	color:$fore-color;
	font-size:10px;
	line-height:9px;
	padding:6px 10px;
	margin:-3px 0 10px 0;
	text-align:center;
}

.block_line_tag.alt {
  border:0px solid $borders-lines;
  background-color:$back-color;
  color:$fore-color;

}

.block_line_icon {
	float:none;
	font-family:'glyph';
	color:$icons;
	font-size:15px;
	line-height:14px;
  font-weight:normal;
  margin:0 0 10px 0;
}

.block_line_icon.left {
	float:left;
	font-family:'glyph';
	color:$icons;
	font-size:20px;
	line-height:14px;
  margin-right:8px;
  margin-top:4px;
}

.block_prev {
  float:left;
  font-family:'glyph';
	color:$icons;
	font-size:35px;
	line-height:14px;
  margin:12px 60px 0 0;
}

.block_prev a {
  float:left;
  font-family:'glyph';
	color:$icons;
	font-size:35px;
	line-height:14px;
  transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  -webkit-transition: all .15s ease-in-out;
}

.block_prev a:hover {
  filter: alpha(opacity=70);
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
  opacity: 0.7;

}


.block_next {
  float:right;
  font-family:'glyph';
	color:$icons;
	font-size:35px;
	line-height:14px;
  cursor:pointer;
  margin:12px 0 0 60px;
  transition: all .15s ease-in-out;
  -moz-transition: all .15s ease-in-out;
  -webkit-transition: all .15s ease-in-out;
}

.block_next:hover {
  filter: alpha(opacity=70);
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
  opacity: 0.7;

}

.block_trans_amount {
  float:none;
  font-family: 'Open Sans', sans-serif;
  font-weight:700;
  color:$fore-color;
  font-size:13px;
  line-height:13px;
  margin:10px 0 0px 0;
}

.block_trans_amount span {
  float:left;
	font-family:'glyph';
	color:$icons;
	font-size:18px;
	line-height:14px;
	margin:0px 8px 0 0px;
	font-weight:normal;
}

.block_line:hover span {
	color:$btc-orange;
}

/* Inputs & Outputs */

.inout_shell {
    margin:0 0 20px 0;
}

.inout_head {
  font-family: 'Open Sans', sans-serif;
  font-weight:600;
  color:$fore-color;
  font-size:24px;
  line-height:24px;
  margin:30px 0 30px 0;
  border-bottom:1px solid $borders-lines;
  padding:0 0 35px 0;
}

.inout_head_icon {
  float:left;
  font-family:'glyph';
	color:$icons;
	font-size:36px;
	line-height:24px;
	margin:0 15px 20px 0;
	font-weight:normal;
}

.inout_shell .block_line:hover span {
	color:$fore-color;
}

.inout_arrow_down {
	width: 0;
	height: 0;
  display:table;
  margin:0px auto 30px auto;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-top: 30px solid $borders-lines;
  filter: alpha(opacity=40);
  -khtml-opacity: 0.4;
  -moz-opacity: 0.4;
  opacity: 0.4;
}

/* Address specific styles */

.address {
	text-align:center;
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
	color:$fore-color;
	font-size:22px;
	line-height:22px;
  margin-bottom:10px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.address_tag {
	float:none;
	text-transform:uppercase;
	background-color:$back-color;
	border-radius:2px;
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
	color:$fore-color;
  border:1px solid $borders-lines;
  border-radius:2px;
	font-size:13px;
	line-height:9px;
	padding:12px 20px;
	margin:20px 0 15px 0;
	text-align:center;
}

.address_icon {
  display:none;
  float:left;
  margin:-6px 20px 0 0;
  font-family:'glyph';
  font-weight:normal;
	color:$icons;
	font-size:56px;
	line-height:48px;
}

.horline {
  width:100%;
  border-bottom:5px solid $borders-lines;
  margin:50px 0 40px 0;
}



/* Widget */

.widg_pad {
	padding:0 0px 0 0px;
	margin:40px 15px 40px 15px;
}


.widg_l {
	width:auto;
	border-right: 0px dashed $borders-lines;
	border-bottom: 1px dashed $borders-lines;
	padding:0 15px 25px 15px;
	margin:0 0 25px 0;
}


.widg_c {
	width:auto;
	border-right: 0px dashed $borders-lines;
	border-bottom: 1px dashed $borders-lines;
	padding:0 15px 25px 15px;
	margin:0 0 25px 0;
}

.widg_r {
	width:auto;
	border-right: 0px dashed $borders-lines;
	border-bottom: 0px dashed $borders-lines;
	padding:0 15px 0 15px;
	margin:0 0 20px 0;
}

.widg_center { display: table; margin: 0 auto; }

.widg_icon {
	font-family:'glyph';
	color:$icons;
	font-size:32px;
	line-height:32px;
	text-align:center;
}

.widg_content {
	text-align:center;
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
	color:$fore-color;
	font-size:40px;
	line-height:40px;
	padding:0;
	margin:3px 0 6px 0;
}

.widg_label {
	text-align:center;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	color:$fore-color;
	font-size:12px;
	line-height:12px;
	text-transform:uppercase;
	font-style:italic;
	padding:0;
	margin:0;
}

/* Transaction Index */

.index_trans_shell {
	margin:0 0 0px 0;
}

.index_trans_line {
	border-top:1px solid $borders-lines;
	padding:15px 0 15px 0;

}

.index_trans_address {
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	color:$fore-color;
	font-size:14px;
	line-height:14px;
	width:45%;
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.index_trans_amount {
	float:right;
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
	color:$fore-color;
	font-size:14px;
	line-height:14px;
	text-align:right;
	width:40%;
}

.index_trans_amount span {
	font-family:'glyph';
	color:$icons;
	font-size:14px;
	line-height:14px;
	margin-right:8px;
	font-weight:normal;
}

.pullDown{
	animation-name: pullDown;
	-webkit-animation-name: pullDown;

	animation-duration: 1.1s;
	-webkit-animation-duration: 1.1s;

	animation-timing-function: ease-out;
	-webkit-animation-timing-function: ease-out;

	transform-origin: 50% 0%;
	-ms-transform-origin: 50% 0%;
	-webkit-transform-origin: 50% 0%;
}

@keyframes pullDown {
	0% {
		transform: scaleY(0.1);
	}
	40% {
		transform: scaleY(1.02);
	}
	60% {
		transform: scaleY(0.98);
	}
	80% {
		transform: scaleY(1.01);
	}
	100% {
		transform: scaleY(0.98);
	}
	80% {
		transform: scaleY(1.01);
	}
	100% {
		transform: scaleY(1);
	}
}

@-webkit-keyframes pullDown {
	0% {
		-webkit-transform: scaleY(0.1);
	}
	40% {
		-webkit-transform: scaleY(1.02);
	}
	60% {
		-webkit-transform: scaleY(0.98);
	}
	80% {
		-webkit-transform: scaleY(1.01);
	}
	100% {
		-webkit-transform: scaleY(0.98);
	}
	80% {
		-webkit-transform: scaleY(1.01);
	}
	100% {
		-webkit-transform: scaleY(1);
	}
}


/* Footer */

.footer_shell {
	width:100%;
	height:auto;
	border-top:1px solid $borders-lines;
	padding:30px 0;
	margin:80px 0 40px 0;
}

.footer_icon {
	float:left;
	font-family:'glyph';
	color:$icons;
	font-size:24px;
	line-height:24px;
	margin:-5px 0 0 0;
}

.footer_text {
	float:right;
	text-align:center;
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
	color:$fore-color;
	font-size:13px;
	line-height:13px;
	margin:0 0 0 12px;
	padding:0px 0 0 0;
}

.footer_text a {
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
	color:$fore-color;
	font-size:13px;
	line-height:13px;
	text-decoration:none;


}

.footer_text a:hover {
	filter: alpha(opacity=100);
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}

.footer_dev {
	float:none;
	border-bottom:1px dashed $borders-lines;
	padding:0 0 10px 0;
	margin:0 0 16px 0;
}

.footer_github {
	float:none;
	border-bottom:0px dashed $borders-lines;
	padding:0 0 0px 0;
	margin:0 0px 0px 0;
}

.footer_cancoin {
	float:none;
	border-bottom:1px dashed $borders-lines;
	padding:0 0 10px 0;
	margin:0 0 16px 0;
}



/* *******************
 Mobile devices (phones, 400px and up) */
@media (min-width: 400px) {

.index_trans_address {
	width:55%;
}

.index_trans_amount {
	width:30%;
}

}


/* *******************
 Mobile devices (phones, 540px and up) */
@media (min-width: 650px) {

.body_head {
	display:table;
	text-align:center;
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	color:$fore-color;
	font-size:36px;
	line-height:36px;
	margin:0 auto 0 auto;
	padding:20px 0 30px 0;
}

.body_head_icon {
	float:left;
	text-align:left;
	font-family:'glyph';
	color:$icons;
	font-size:46px;
	line-height:38px;
	margin:0 18px 0 0;
}

.index_block_shell {
	float:left;
	border:1px solid $borders-lines;
	border-radius:6px;
	padding:42px 30px 35px 30px;
	margin:0 15px 15px 0px;
	width:37%;
	min-height:100px;
}

.index_block_row {
	margin-right:-15px;
	margin-left:20px;
}

.index_trans_address {
	width:75%;
}

.index_trans_amount {
	width:20%;
}

.head_stat.hide {
	display:inherit !important;
}

.inout_head {
  font-size:24px;
  line-height:24px;
  margin:30px 0 30px 0;
  border-bottom:1px solid $borders-lines;
  padding:0 0 35px 0;
}


}






/* *******************
 Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

.index_block_shell {
	float:left;
	border:1px solid $borders-lines;
	border-radius:6px;
	padding:42px 30px 35px 30px;
	margin:0 15px 15px 0px;
	width:22%;
	min-height:100px;
}

.index_block_row {
	margin-right:-23px;
}

.index_block_height {
	text-align:center;
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
	color:$fore-color;
	font-size:40px;
	line-height:24px;
	margin-bottom:40px;
}

.index_block_height span {
	font-family: 'Open Sans', sans-serif;
	font-style:italic;
	font-weight:400;
	text-transform:uppercase;
	color:$fore-color;
	font-size:12px;
	line-height:12px;
}

.widg_l {
	width:auto;
	border-right: 1px dashed $borders-lines;
	border-bottom: 0px dashed $borders-lines;
	padding:0 36px 0 36px;
	margin:0 0 29px 0;
}


.widg_c {
	width:auto;
	border-right: 1px dashed $borders-lines;
	border-bottom: 0px dashed $borders-lines;
	padding:0 36px 0 36px;
	margin:0 0 29px 0;
}

.widg_r {
	width:auto;
	border-right: 0px dashed $borders-lines;
	border-bottom: 0px dashed $borders-lines;
	padding:0 36px 0 36px;
	margin:0 0 29px 0;
}

.footer_dev {
	float:left;
	border-bottom:0px dashed #e6e6e6;
	padding:0 0 0 0;
	margin:0 0 0 0;
}

.footer_github {
	float:right;
	border-bottom:0px dashed #e6e6e6;
	padding:0 0 0 0;
	margin:0 60px 0 0;
}

.footer_cancoin {
	float:right;
	border-bottom:0px dashed #e6e6e6;
	padding:0 0 0 0;
	margin:0 0 0 0;
}

.block_height_icon {
  display:inherit;
}

.block_shell {
  border-radius:6px;
  padding:60px 50px 55px 50px;
  margin:0 0px 40px 0px;
}

.block_height_tag {
	float:right;
	font-size:16px;
	line-height:9px;
	padding:12px 20px;
	margin:20px 0 0 0;
}

.block_height {
  text-align:left;
	font-size:64px;
	line-height:58px;
  padding:0 0 40px 0;
	margin:0 0 40px 0;
  border-bottom:1px solid $borders-lines;
}

.block_line_tag {
	float:right;
	background-color:$fore-color;
	border-radius:2px;
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
	color:$back-color;
	font-size:10px;
	line-height:9px;
	padding:6px 10px;
  margin:-3px 0 0 0;
	text-align:center;
}

.block_line_icon {
	float:right;
  margin:0 0 0 0;
}

.block_line {
  text-align:left;
	margin:0px 0 0px 0;
	padding:15px 0 15px 0;
}

.block_trans_amount {
  float:right;
  margin:0 0 0 0;
}


.block_trans_amount span {
  float:none;
	margin:0px 0 0 8px;
}

.block_height.mobile {
	font-size:54px;
	line-height:54px;
}

.inout_arrow_down {
  margin:0px 0 30px 50px;
}

.inout_head_icon {
	margin:0 25px 0 0;
}

.address_tag {
	float:right;
	padding:12px 20px;
	margin:0px 0 0 0;
  font-size:14px;
	line-height:9px;
}

.address {
  text-align:left;
	font-size:24px;
	line-height:32px;
}

.block_line_tag.alt {
  border:1px solid $borders-lines;

}

}






/* *******************
 Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

.index_block_shell {
	float:left;
	border:1px solid $borders-lines;
	border-radius:6px;
	padding:42px 30px 35px 30px;
	margin:0 15px 15px 0px;
	width:16%;
	min-height:100px;
}

.index_block_row {
	margin-right:-50px;
}

.widg_l {
	width:auto;
	border-right: 1px dashed $borders-lines;
	border-bottom: 0px dashed $borders-lines;
	padding:0 36px 0 36px;
	margin:0 0 0px 0;
}


.widg_c {
	width:auto;
	border-right: 1px dashed $borders-lines;
	border-bottom: 0px dashed $borders-lines;
	padding:0 36px 0 36px;
	margin:0 0 0px 0;
}

.widg_r {
	width:auto;
	border-right: 0px dashed $borders-lines;
	border-bottom: 0px dashed $borders-lines;
	padding:0 36px 0 36px;
	margin:0 0 0px 0;
}

.widg_pad {
	padding:0 60px 0 60px;
	margin:40px 0 40px 0;
}

.footer_icon {
	float:left;
	font-family:'glyph';
	color:$icons;
	font-size:28px;
	line-height:28px;
	margin:-6px 0 0 0;
}

.footer_text {
	float:right;
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
	color:$fore-color;
	font-size:14px;
	line-height:14px;

}

.footer_text a {
	font-size:14px;
	line-height:14px;

}

.block_line {
	font-size:14px;
	line-height:14px;
}

.block_trans_amount {
  font-size:14px;
  line-height:14px;
}

.address {
	font-size:28px;
	line-height:32px;
}


}








/* ********************
 Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

.index_block_shell {
	float:left;
	border:1px solid $borders-lines;
	border-radius:6px;
	padding:42px 30px 35px 30px;
	margin:0 15px 15px 0px;
	width:18%;
	min-height:100px;
}

.index_block_row {
	margin-right:-10px;
}

.index_block_height {
	text-align:center;
	font-family: 'Open Sans', sans-serif;
	font-weight:600;
	color:$fore-color;
	font-size:44px;
	line-height:24px;
	margin-bottom:40px;
}

.index_block_height span {
	font-family: 'Open Sans', sans-serif;
	font-style:italic;
	font-weight:400;
	text-transform:uppercase;
	color:$fore-color;
	font-size:12px;
	line-height:12px;
}

.address {
	font-size:32px;
	line-height:32px;
}

.address_icon {
  display:inherit;
}


}
